@media only screen and (min-width: 1000px) {
#listbody{
 color: white;
 display: grid;
 grid-template-columns: 1.7fr 2fr;   
 margin: auto;
}

#list{
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-weight: lighter;
}

.lihead{
    background-color: #151427;
    position: sticky;
    top: 50px
}

#place{
    background-color:rgba(255, 255, 255, 0.063);
    width: 350px;
    height: 30px;
    border-radius: 8px;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
}

#add{
    height: 10px;
    width: 35px;
    margin-left: 10px;
}

#add:hover{
    cursor: pointer;
    color:crimson;
}

.enter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

.listitem{
    display: flex;
    flex-direction: row ;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: larger;
    z-index: 1;
}

#items{
    list-style-type: none;
    padding: 0;
    z-index: 1;
}
}

@media only screen and (max-width: 1000px) {
    #listbody{
        color: white;
        display: flex;
        flex-direction: column-reverse;
        align-items:stretch
    }

    #list{
        margin-left: auto;
        margin-right: auto;
    }
    
    h1{
        font-weight: lighter;
    }
    
    .lihead{
        background-color: #151427;
        position: sticky;
        top:50px
    }
    
    #place{
        background-color:rgba(255, 255, 255, 0.063);
        width: 350px;
        height: 30px;
        border-radius: 8px;
        color: white;
        outline: none;
        border: none;
        font-size: 18px;
    }
    
    #add{
        height: 10px;
        width: 35px;
        margin-left: 10px;
    }
    
    #add:hover{
        cursor: pointer;
        color:crimson;
    }
    
    .enter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
    }
    
    .listitem{
        display: flex;
        flex-direction: row ;
        justify-content:space-between;
        background-color: rgba(0, 0, 0, 0.438);
        padding: 6px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: larger;
        z-index: 1;
    }
    
    #items{
        list-style-type: none;
        padding: 0;
        z-index: 1;
    }

}
       